<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DEAR-Reader</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">

    <!-- Just an image -->
    <nav class="navbar navbar-light bg-light">
      
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" id = "navbar">
    
          <div class="collapse navbar-collapse" id="navtext">
            <div class="navbar-nav">
                <a class="navbar-brand" href="/allReviews" id ="brandText">DEAR-Reader</a>
                <a class="nav-link" href="/profile" id = "profiletext">My Dashboard</a>
                <a class="nav-link" href="/createReview" id ="createReviewText">Create a Review</a>
                <a class="nav-link" href="/allReviews" id = "allReviewsText">All Reviews</a>
                <a id="logout" class="nav-link" href="/" id = "logOutText">Log Out</a>
            </div>
          </div>
        </div>
      </nav>

    
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>