#allReviews {
  color: black;
}
/* Sign up /Login Page  */
#forms {
  background-color: azure;
}

 #login-form {
  color:rgb(3, 3, 3);
  background-color: azure;
  padding:3rem;
  font-size: larger;
  align-items: center;
}

#login {
  color:black;
  align-items: center;
}

#signup {
  color:rgb(12, 12, 12);
  
}

#signup-form {
  color:black;
  padding:3rem;
  font-size: larger;
  align-items: center;
} 

#forums {
  color: rgb(153, 193, 210);
  background-color: rgb(121, 121, 227);
  opacity: 66%;
}

#createReview {
  float: right;
  width:50%;
}

#currentReviews {
  float:right;
  padding:2rem;
}

#navbar {
  width:100%;
  display: flex;
  flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    box-sizing: border-box;
    font-size: x-large;
    font-weight: 200;
    opacity: 85%;
}
#navtext {
  justify-content: space-evenly;
  padding: 1rem;
}

#brandText {
  padding:2rem;
  font-style:normal;
  font-size: xx-large;
}

#profiletext {
  padding:1rem;
  font-style:italic;
  font-size: xx-large;
}

#createReviewText {
  padding:1rem;
  font-style:italic;
  font-size: xx-large;
}

#allReviewsText {
  padding:2rem;
  font-style:italic;
  font-size: xx-large;
}

#logOutText {
  padding:1rem;
  font-style:italic;
  font-size: x-small;
}

body{


    background-image: url('homepageimage.jpg');

    background-position: center;
    background-size: cover;
    background-repeat: no repeat;
    height: 100vh;

    color: whitesmoke;
    text-align: center;
    font-family: 'Garamond' , serif;
    text-align: center;
    
  }
.jumbotron {
height: 100px;
}

.home-card {

  margin-top: 225px;

}

.menu-card {
  margin-top: 10px;
}

@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}