#createReview{
  display: inline-block;
  text-align: center;
  flex-direction:column;
  justify-content: center;
  color:whitesmoke;
  background-color: teal;
  margin:auto;
}

body{


    background-image: url('homepageimage.jpg');

    background-position: center;
    background-size: cover;
    background-repeat: no repeat;
    height: 100vh;

    color: whitesmoke;
    text-align: center;
    font-family: 'Garamond' , serif;
  }
.jumbotron {
height: 100px;
}

.home-card {

  margin-top: 225px;

}

.menu-card {
  margin-top: 10px;
}

@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}