<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Cretae a Review</h5>
    <p class="card-text">Please enter your review here.</p>
      <!--Form to Create a book review-->
      <form id = "createReview">
            <div class="form-group">
              <label for="choose-a-book">Choose a Book</label>
              <input type="text" class="form-control" id="choose_book" aria-describedby="" placeholder="Type a book">
              <small id="Type a Book" class="form-text text-muted">Have we read the same books?</small>
            </div>
            <div class="form-group">
              <label for="Author">Author</label>
              <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Author">
            </div>
            <div class="form-group">
              <label for="Synopsis">Synopsis</label>
              <input type="text" class="form-control" id="synopsis" placeholder="synopsis">
            </div>
            <div class="form-group">
              <label for="Page Count">Page Count</label>
              <input type="text" class="form-control" id="pageCount" placeholder="page count">
            </div>
            
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
      </form>
              <a href="#" class="btn btn-primary">Go somewhere</a>